<!doctype html>
<html lang="fr">
	
	<head>
		<meta charset="utf-8">
		<title>Videos Masterclass</title>
		<link rel="stylesheet" href="/static/Col.css">
	</head>
	
	<div class="menu">
		<span class="bouton"><a href='/home'><img id="acne" src="/static/images/accueil.png"></a></span>
		<span class="bouton"><a href='/images'><img id="acne" src="/static/images/images.png"></a></span>
		<span class="bouton"><a href='/saisir'><img id="acne" src="/static/images/upload.png"></a></span>	
	</div>
	
	<body>
		
		<h1>Les memes qui te mdr(édition.vidéos)</h1>
        
		<h2>!BAISSEZ LE SON!</h2>
		
		<div class="corps">
			<ul>
			{% for m in drole%}
				<h2> [{{ m[2] }}]: {{ m[0] }}</h2>
				<p>Publié par {{ m[3] }}</p>
                <video width="320" height="240" controls>
                    <source src="{{ m[1] }}" type="video/mp4">
                    Your browser does not support the video tag.
                  </video>
				<br> 
			{% endfor %}
			</ul>
		</div>
	</body>
</html>
		
